- Calculate the square and cube of a number.
- print(0.1+0.2 == 0.3)
- li = ['Apple','Samsung','Microsoft','Amazon','tesla','Facebook','Google','Dell']

- Find the second Element or value
- Find the Second Last Element or Value
print(li)

In [1]:
# Calculate the square and cube of a number.
num = int(input())

print(f"Square of a nunber {num ** 2}")
print(f"Cube of a Number {num ** 3}")

3
Square of a nunber 9
 Cube of a Number 27

In [2]:
print(0.1+0.2 == 0.3)

False

In [3]:
print(0.1 + 0.2)
print(0.3)
print(round(0.1+0.2,2)==round(0.3,2))

0.30000000000000004
0.3
True

In [4]:
li = ['Apple','Samsung','Microsoft','Amazon','tesla','Facebook','Google','Dell']

#Find the second Element or value
print(li[1])

#Find the Second Last Element or Value
print(li)
print(li[-2])
L = len(li)
print(li[L-2])

Samsung
['Apple', 'Samsung', 'Microsoft', 'Amazon', 'tesla', 'Facebook', 'Google', 'Dell']
Google
Google

1. Write a program to add two numbers.

2. Find the remainder when a number is divided by 7.

3. Calculate the square and cube of a number.

4. Take two numbers and perform all arithmetic operations.

5. Use // operator and explain the difference between / and //.

6. Write a program to calculate compound power using **.

7. What is the output of: <br>
print(10 / 3, 10 // 3)

8. Explain operator precedence with an example.

9. Check whether two numbers are equal.

10. Check if a number is greater than 100.

11. Compare age of two persons.

12. Write a program to check if a number lies between 10 and 50.

13. Compare two strings and explain the result.

14. What is the output? <br>
print(5 == 5.0)

15. Difference between == and is.

16. Check if a number is positive and even.

17. Check if a user is eligible to vote (age â‰¥ 18).

18. Validate username and password using logical operators.

19. Write a program using not operator.

20. What is the output? <br>
print(True and False or True)

21. Explain short-circuiting in Python.

22. Assign a value to a variable and print it.

23. Increase a number by 10 using +=.

25. Perform all assignment operators on a variable.

26. Swap two numbers using assignment operators.

27. What is the output? <br>
x = 5 <br>
x += 3 <br>
x *= 2 <br>
print(x) <br>

In [ ]:
print(0.1+0.2)  # 0.3
print(0.3)    # 0.3

In [ ]:
print(round(0.1+0.2,2) == round(0.3,2))

- Convert a number to binary and apply bitwise OR.
- Explain difference between & and and.
- Compare two variables using is.
- Check if two lists are identical.
- Explain is vs == with example.
- Check identity of integers and strings.
- What is the output?
a = 256 <br>
b = 256 <br>
print(a is b) <br>

- Check if a character exists in a string.
- Check if an element is present in a list.
- Search a word in a sentence.
- Check if a key exists in a dictionary.
- Difference between in and ==.
- What is the output ? <br>
print(5 & 3 )

#### 43. Multiply Strings

- Given two non-negative integers
- num1 and num2 represented
- as strings, return the product
- of num1 and num2, also
- represented as a string.

- Note: You must not use any
- built-in BigInteger library
- or convert the inputs to
- integer directly.



***Example 1:***

- Input:
- num1 = "2", num2 = "3"
- Output: "6"

***Example 2:***

- Input:
- num1 = "123", num2 = "456"
- Output: "56088"

In [ ]:
num1 = "2"
num2 = "3"

num1 = "123"
num2 = "456"

num1 = int(num1)
num2 = int(num2)

res = str(num1 * num2)
print(res)

56088